/*
vim: syntax=groovy
-*- mode: groovy;-*-
 * -------------------------------------------------
 *  Nextflow base config file
 * -------------------------------------------------
 */

process {

	clusterOptions = params.clusterOptions
	afterScript = 'rm -rf $ctmp;rm -rf $NXF_SCRATCH'
	queue = params.queue
	executor  = params.executor
	scratch   = params.scratch
  cpus = { check_max( 4 * task.attempt, 'cpus' ) }
  memory = { check_max( 42.GB * task.attempt, 'memory' ) }
  time = { check_max( 240.h * task.attempt, 'time' ) }
  errorStrategy =  'retry' 
  maxRetries = 0
  maxErrors = '-1'
  maxForks = params.maxForks
  
   withLabel: prepare {
      maxForks = 1
    }

   withLabel: moreParralle {
      maxForks = 24
    }
  
}

params { 
  // Defaults only, expecting to be overwritten
  max_memory = 560.GB
  max_cpus = 96
  max_time = 2400.h
}
