/*
vim: syntax=groovy
-*- mode: groovy;-*-
 * -------------------------------------------------
 *  Nextflow base config file
 * -------------------------------------------------
 * A 'blank slate' config file, appropriate for general
 * use on most high performace compute environments.
 * Assumes that all software is installed and available
 * on the PATH. Runs in `local` mode - all jobs will be
 * run on the logged in environment.
 */

process {

	clusterOptions = params.clusterOptions
	afterScript = 'rm -rf $ctmp;rm -rf $NXF_SCRATCH'
	queue = params.queue
	executor  = params.executor
	scratch   = params.scratch

    cpus = { check_max( 4 * task.attempt, 'cpus' ) }
    memory = { check_max( 42.GB * task.attempt, 'memory' ) }
    time = { check_max( 240.h * task.attempt, 'time' ) }
    errorStrategy =  'retry' 
    maxRetries = 0
    maxErrors = '-1'
    maxForks = params.maxForks
    
    withLabel: py2 {
        maxForks = 3
        memory = { check_max( 8.GB * task.attempt, 'memory' ) }
        time = { check_max( 24.h * task.attempt, 'time' ) }
        }

    withLabel: local {
       executor ='local'
       container = false
	   conda = '/public/home/nong/miniconda3'
	   scratch =false
       cpus = { check_max( 4 * task.attempt, 'cpus' ) }
       memory = { check_max( 8.GB * task.attempt, 'memory' ) }
       time = { check_max( 24.h * task.attempt, 'time' ) }
    }
    
	withLabel: retro {

		container = false
		conda = "/home/nbt2/miniconda3/envs/telescope"
	}

	withName: miso {
    
       cpus = { check_max( 12 * task.attempt, 'cpus' ) }
       memory = { check_max( 8.GB * task.attempt, 'memory' ) }
		
	}
	
	
}

params { 
  // Defaults only, expecting to be overwritten
  max_memory = 128.GB
  max_cpus = 48
  max_time = 2400.h
  params.GenomeAnalysisTK = "/home/nbt2/miniconda3/envs/gatk3.8/opt/gatk-3.8/GenomeAnalysisTK.jar"
  annovar_BinDir = "/home/apps/annovar/"
  cpatpath = "/opt/CPAT-1.2.4/"
}
