process.container = 'nongbaoting/pipeone:latest'
// process.container = 'nong/ubuntu_conda_lncrna_tmp:1214'
 
docker {
  enabled = true
  autoMounts =true
  fixOwnership = true
  // runOptions = "--user root"
  // runOptions = 'umask 0000'
  // runOptions = '--user \$(id -u):\$(id -g)'
}

params {

  annovar_BinDir  = "/opt/annovar/"
  cpat_dir = "/opt/CPAT-1.2.4/"
  CPPred_dir   = "/opt/CPPred/"
}


