/*
vim: syntax=groovy
-*- mode: groovy;-*-
 * -------------------------------------------------
 *  Nextflow config file for use with Docker
 * -------------------------------------------------
 */

process.container = 'nongbaoting/pipeone:latest'
//process.container = 'nongbaoting/pipeone:java_11'

docker {
  enabled = true
  autoMounts =true
  fixOwnership = true
  //docker.runOptions = 'umask 0000'
}

params {
	GenomeAnalysisTK = "/root/miniconda3/envs/gatk3.8/opt/gatk-3.8/GenomeAnalysisTK.jar"
  annovar_BinDir  = "/opt/annovar/"
  cpatpath = "/opt/CPAT-1.2.4/"
}