/*
vim: syntax=groovy
-*- mode: groovy;-*-
 * -------------------------------------------------
 *  Nextflow config file for use with Docker
 * -------------------------------------------------
 */

process.container = 'nongbaoting/pipeone:conda'
// process.container = 'nong/ubuntu_conda_lncrna_tmp:1214'
 
docker {
  enabled = true
  autoMounts =true
  fixOwnership = true
  // docker.runOptions = 'umask 0000'
}

params {

  annovar_BinDir  = "/opt/annovar/"
  cpatpath = "/opt/CPAT-1.2.4/"
  CPPred   = "/opt/CPPred/"
}