/*
vim: syntax=groovy
-*- mode: groovy;-*-
 * -------------------------------------------------
 *  Nextflow config file for Genomes paths
 * -------------------------------------------------
 */

params {
  // illumina iGenomes reference file paths on UPPMAX
  genomes {
    
	"hg38_124" {
	  species 				= "human"
	  genome_build			= "hg38"
      fasta   				= "/dat1/dat/ref/hg38/hg38.fa"
      fasta_fai				= "/dat1/dat/ref/hg38/hg38.fa.fai"
	  gtf     				= "/dat1/dat/ref/hg38/hg38+gencode.v32/gencode.v32.gtf"
	  ref					= "/dat1/dat/ref/hg38/hg38_ref.txt"
	  genecode_gtf  		= "/dat1/dat/ref/hg38/hg38+gencode.v32/gencode.v32.gtf"
      genecode_lncRNA_gtf	= "/dat1/dat/ref/hg38/hg38+gencode.v32/gencode.v32.long_noncoding_RNAs.gtf"
	  salmon_index 			= "/dat1/dat/ref/hg38/hg38+gencode.v32/salmon_index"
	  
	  hisat2_index  		= "/dat1/dat/ref/hg38/hg38+gencode.v32/hisat2_index/hg38"
	  lncpedia_gtf  		= "/dat1/dat/ref/hg38/lncRNAGTF/lncipedia_5_2_hg38.addquotes.gtf"
	  species 				= "human"
	  star_index 	        = "/dat1/dat/ref/hg38/hg38+gencode.v32/STAR2.7.3a_Index_hg38_gencodeV32"
	  bwa_index		        = "/dat1/dat/ref/hg38/hg38+gencode.v32/bwa_index/hg38"
	  repeat_gtf            = "/dat1/dat/ref/hg38/repeat/hg38_ucsc.repeat.gtf"
	  
	  retro_gtf             = "/dat1/dat/ref/hg38/telescope_HERV_rmsk.hg38.v2/transcripts.gtf"
	  bowtie1_index			= "/dat1/dat/ref/hg38/hg38+gencode.v32/bowtie1_index/bowtie1_base"
	  bowtie2_index			= "/dat1/dat/ref/hg38/hg38+gencode.v32/bowtie2_index/bowtie2_base"
	  
	  sprint_index 			= "/home/dat/ref/hg38/hg38+gencode.v32/sprint_index/hg38.fa"
	  sprint_repeat 		= "/home/dat/ref/hg38/sprint_hg38_repeat.txt"
	  
	  blacklisted   		= "/dat1/apps/arriba_v1.1.0/database/blacklist_hg38_GRCh38_2018-11-04.tsv.gz"
	  cytobands 			= "/dat1/apps/arriba_v1.1.0/database/cytobands_hg38_GRCh38_2018-02-23.tsv"
	  proteinDomains 		= "/dat1/apps/arriba_v1.1.0/database/protein_domains_hg38_GRCh38_2018-03-06.gff3"
	  ctat_dir 				= "/dat1/dat/ref/hg38/star-fusion/GRCh38_gencode_v32_CTAT_lib_Dec062019.plug-n-play/ctat_genome_lib_build_dir"
	  
	  salmon_index_3UTR		= "/dat1/dat/ref/hg38/apa_3UTR/gencode_v31/3utr"
	  replace_SalmonIndex_ID = "/dat1/dat/ref/hg38/apa_3UTR/gencode_v31/fa_id_relate.txt"	  
	  utr_gtf = genecode_gtf
	  apa3utr				= "/dat1/dat/ref/hg38/apa_3UTR/gencode_v31/qapa_3utrs.gencode_V31.hg38.bed"
	  annovar_data_dir		= "/dat1/apps/annovar/humandb"
	}

	"hg38" {
		// 
		ref_directory           = "/dat1/dat/ref/PipeOne/pipeOne_ref_test"


		species 				= "human"
		genome_build			= "hg38"

		// in the download files
		fasta   				= "${ref_directory}/hg38.fa"
		fasta_fai				= "${ref_directory}/hg38.fa.fai"
		gtf     				= "${ref_directory}/gencode.v32.gtf"
		ref						= "${ref_directory}/hg38_ref.txt"
		genecode_gtf  			= "${ref_directory}/gencode.v32.gtf"
		genecode_lncRNA_gtf		= "${ref_directory}/gencode.v32.long_noncoding_RNAs.gtf"
		
		lncpedia_gtf  			= "${ref_directory}/lncipedia_5_2_hg38.addquotes.gtf"
		repeat_gtf            	= "${ref_directory}/hg38_ucsc.repeat.gtf"
		retro_gtf             	= "${ref_directory}/telescope_HERV_rmsk.hg38.v2/transcripts.gtf"
		sprint_repeat 			= "${ref_directory}/sprint_hg38_repeat.txt"
		blacklisted   			= "${ref_directory}/arriba_db/blacklist_hg38_GRCh38_2018-11-04.tsv.gz"
		cytobands 				= "${ref_directory}/arriba_db/cytobands_hg38_GRCh38_2018-02-23.tsv"
		proteinDomains 			= "${ref_directory}/arriba_db/protein_domains_hg38_GRCh38_2018-03-06.gff3"
		salmon_index_3UTR		= "${ref_directory}/apa_3UTR/gencode_v31/3utr"
		replace_SalmonIndex_ID 	= "${ref_directory}/apa_3UTR/gencode_v31/fa_id_relate.txt"
		apa3utr					= "${ref_directory}/apa_3UTR/gencode_v31/qapa_3utrs.gencode_V31.hg38.bed"
		utr_gtf					=  genecode_gtf
		annovar_data_dir		= "${ref_directory}/annovar_db"


		// generate by prepare_ref.nf
		star_index 	       		= "${ref_directory}/STAR_index"
		bwa_index		        = "${ref_directory}/bwa_index/bwa_index"
		bowtie2_index			= "${ref_directory}/bowtie2_index/bowtie2_base"
		sprint_index 			= "${ref_directory}/sprint_index/genome.fa"
		hisat2_index  			= "${ref_directory}/hisat2_index/genome"

		
		
	}
	  
   
  }

}