
params {
  // Genomes reference file paths
  genomes {
    	"hg38" {
        // 
        ref_directory   = "/dat1/dat/ref/PipeOne/pipeOne_ref_test"

        species 				= "human"
        genome_build		= "hg38"

        // in the download files
        fasta   				= "${ref_directory}/hg38.fa"
        fasta_fai				= "${ref_directory}/hg38.fa.fai"
        fasta_dict			= "${ref_directory}/hg38.dict"
        gtf     				= "${ref_directory}/gencode.v32.gtf"
        ref						  = "${ref_directory}/hg38_ref.txt"
  
        genecode_lncRNA_gtf		= "${ref_directory}/gencode.v32.long_noncoding_RNAs.gtf"
        
        lncpedia_gtf  			  = "${ref_directory}/lncipedia_5_2_hg38.addquotes.gtf"
        repeat_gtf            = "${ref_directory}/hg38_ucsc.repeat.gtf"
        retro_gtf             = "${ref_directory}/telescope_HERV_rmsk.hg38.v2/transcripts.gtf"
        sprint_repeat 		  	= "${ref_directory}/sprint_hg38_repeat.txt"
        blacklisted   			  = "${ref_directory}/arriba_db/blacklist_hg38_GRCh38_2018-11-04.tsv.gz"
        cytobands 			    	= "${ref_directory}/arriba_db/cytobands_hg38_GRCh38_2018-02-23.tsv"
        proteinDomains 			  = "${ref_directory}/arriba_db/protein_domains_hg38_GRCh38_2018-03-06.gff3"
        salmon_index_3UTR		  = "${ref_directory}/apa_3UTR/gencode_v31/3utr"
        replace_SalmonIndex_ID 	= "${ref_directory}/apa_3UTR/gencode_v31/fa_id_relate.txt"
        apa3utr					        = "${ref_directory}/apa_3UTR/gencode_v31/qapa_3utrs.gencode_V31.hg38.bed"
        utr_gtf					        =  gtf
        annovar_data_dir		    = "${ref_directory}/annovar_db"

        // generate by prepare_ref.nf
        star_index 	      = "${ref_directory}/STAR_index"
        bwa_index		      = "${ref_directory}/bwa_index/bwa_index"
        bowtie2_index			= "${ref_directory}/bowtie2_index/bowtie2_base"
        sprint_index 			= "${ref_directory}/sprint_index/genome.fa"
        hisat2_index  		= "${ref_directory}/hisat2_index/genome"
      }


  "hg38_132" {
        // 
        ref_directory   = "/dsk1/ref/hg38/pipeOne_ref_test"

        species 				= "human"
        genome_build		= "hg38"

        // in the download files
        fasta   				= "${ref_directory}/hg38.fa"
        fasta_fai				= "${ref_directory}/hg38.fa.fai"
        fasta_dict			= "${ref_directory}/hg38.dict"
        gtf     				= "${ref_directory}/gencode.v32.gtf"
        ref						  = "${ref_directory}/hg38_ref.txt"
  
        genecode_lncRNA_gtf		= "${ref_directory}/gencode.v32.long_noncoding_RNAs.gtf"
        
        lncpedia_gtf  			  = "${ref_directory}/lncipedia_5_2_hg38.addquotes.gtf"
        repeat_gtf            = "${ref_directory}/hg38_ucsc.repeat.gtf"
        retro_gtf             = "${ref_directory}/telescope_HERV_rmsk.hg38.v2/transcripts.gtf"
        sprint_repeat 		  	= "${ref_directory}/sprint_hg38_repeat.txt"
        blacklisted   			  = "${ref_directory}/arriba_db/blacklist_hg38_GRCh38_2018-11-04.tsv.gz"
        cytobands 			    	= "${ref_directory}/arriba_db/cytobands_hg38_GRCh38_2018-02-23.tsv"
        proteinDomains 			  = "${ref_directory}/arriba_db/protein_domains_hg38_GRCh38_2018-03-06.gff3"
        salmon_index_3UTR		  = "${ref_directory}/apa_3UTR/gencode_v31/3utr"
        replace_SalmonIndex_ID 	= "${ref_directory}/apa_3UTR/gencode_v31/fa_id_relate.txt"
        apa3utr					        = "${ref_directory}/apa_3UTR/gencode_v31/qapa_3utrs.gencode_V31.hg38.bed"
        utr_gtf					        =  gtf
        annovar_data_dir		    = "${ref_directory}/annovar_db"

        // generate by prepare_ref.nf
        star_index 	      = "${ref_directory}/STAR_index"
        bwa_index		      = "${ref_directory}/bwa_index/bwa_index"
        bowtie2_index			= "${ref_directory}/bowtie2_index/bowtie2_base"
        sprint_index 			= "${ref_directory}/sprint_index/genome.fa"
        hisat2_index  		= "${ref_directory}/hisat2_index/genome"
      }

  }

  
}

