/*
vim: syntax=groovy
-*- mode: groovy;-*-
 * -------------------------------------------------
 *  Nextflow config file for iGenomes paths
 * -------------------------------------------------
 * Defines reference genomes, using iGenome paths
 * Can be used by any config that customises the base
 * path using $params.igenomes_base / --igenomes_base
 */

params {
  // illumina iGenomes reference file paths on UPPMAX
  genomes {
    'GRCh37' {
      bed12   = "${params.igenomes_base}/Homo_sapiens/Ensembl/GRCh37/Annotation/Genes/genes.bed"
      fasta   = "${params.igenomes_base}/Homo_sapiens/Ensembl/GRCh37/Sequence/WholeGenomeFasta/genome.fa"
      gtf     = "${params.igenomes_base}/Homo_sapiens/Ensembl/GRCh37/Annotation/Genes/genes.gtf"
      star    = "${params.igenomes_base}/Homo_sapiens/Ensembl/GRCh37/Sequence/STARIndex/"
    }
    'GRCm38' {
      bed12   = "${params.igenomes_base}/Mus_musculus/Ensembl/GRCm38/Annotation/Genes/genes.bed"
      fasta   = "${params.igenomes_base}/Mus_musculus/Ensembl/GRCm38/Sequence/WholeGenomeFasta/genome.fa"
      gtf     = "${params.igenomes_base}/Mus_musculus/Ensembl/GRCm38/Annotation/Genes/genes.gtf"
      star    = "${params.igenomes_base}/Mus_musculus/Ensembl/GRCm38/Sequence/STARIndex/"
    }
		
	'hg19' {
      bed12  	 			= "/public/home/nong/aws/references/Homo_sapiens/UCSC/hg19/Annotation/Genes/genes.bed"
      fasta   				= "/public/home/nong/aws/references/Homo_sapiens/UCSC/hg19/Sequence/WholeGenomeFasta/genome.fa"
      fasta_fai				= "/public/home/nong/aws/references/Homo_sapiens/UCSC/hg19/Sequence/WholeGenomeFasta/genome.fa.fai"
      fasta2 = ''
	  gtf     				= "/public/home/nong/aws/references/Homo_sapiens/UCSC/hg19/Annotation/Genes/genes.gtf"
	  genecode_gtf  		= "/public/home/nong/aws/others/ucsc_hg19/gencode.v27lift37.annotation.gtf"
      genecode_lncRNA_gtf	= "/public/home/nong/aws/others/ucsc_hg19/gencode.v27lift37.long_noncoding_RNAs.gtf"
	  hisat2_index  		= "/public/home/nong/aws/others/ucsc_hg19/hg19_hisat/genome"
      lncpedia_gtf  		= "/public/home/nong/aws/others/ucsc_hg19/lncipedia_5_2_hc_hg19.addQuotes.gtf"
	  bowtie1_index 		= "/public/home/nong/aws/references/Homo_sapiens/UCSC/hg19/Sequence/BowtieIndex/genome"
	  bowtie2_index 		= "/public/home/nong/aws/references/Homo_sapiens/UCSC/hg19/Sequence/Bowtie2Index/genome"
	  bwa_index				= "/public/home/nong/aws/references/Homo_sapiens/UCSC/hg19/Sequence/BWAIndex/genome.fa"
      star    				= "/public/home/nong/aws/references/Homo_sapiens/UCSC/hg19/Sequence/STARIndex"
	  ref    				= "/public/home/nong/aws/others/ucsc_hg19/hg19_ref.txt"
	  ref_gtf 				= "/public/home/nong/aws/others/ucsc_hg19/hg19_ref.gtf"
	  
	  //star_index 			= "/public/home/nong/aws/references/Homo_sapiens/UCSC/hg19/Sequence/STARIndex"
	  // star    			= "/public/home/nong/aws/references/Homo_sapiens/UCSC/hg19/Sequence/STARIndex"
	  
	  star_index    		= "/dat1/dat/ref/hg19/ucsc_hg19/starIndex"
	  repeat_gtf        	= "/public/home/nong/aws/others/ucsc_hg19/ucsc_repeats.RepeatMasker.gtf"
	  salmon_index  		= "/public/data/genome/aws/others/ucsc_hg19/salmon_index/hg19_ref_transcripts"
	  
	  blacklisted   		= "/dat1/apps/arriba_v1.1.0/database/blacklist_hg19_hs37d5_GRCh37_2018-11-04.tsv.gz"
	  cytobands 			= "/dat1/apps/arriba_v1.1.0/database/cytobands_hg19_hs37d5_GRCh37_2018-02-23.tsv"
	  proteinDomains 		= "/dat1/apps/arriba_v1.1.0/database/protein_domains_hg19_hs37d5_GRCh37_2018-03-06.gff3"
	}
	
	'hg19_124' {
      genome_build			= "hg19"
	  species 				= "human"
      bed12  	 			= "/dat1/dat/ref/aws/references/Homo_sapiens/UCSC/hg19/Annotation/Genes/genes.bed"
      fasta   				= "/dat1/dat/ref/aws/references/Homo_sapiens/UCSC/hg19/Sequence/WholeGenomeFasta/genome.fa"
      fasta_fai				= "/dat1/dat/ref/aws/references/Homo_sapiens/UCSC/hg19/Sequence/WholeGenomeFasta/genome.fa.fai"
      fasta2 = ''
	  gtf     				= "/dat1/dat/ref/aws/others/ucsc_hg19/gencode.v27lift37.MainChrom.gtf"
	  genecode_gtf  		= "/dat1/dat/ref/aws/others/ucsc_hg19/gencode.v27lift37.MainChrom.gtf"
      genecode_lncRNA_gtf	= "/dat1/dat/ref/aws/others/ucsc_hg19/gencode.v27lift37.long_noncoding_RNAs.gtf"
	  hisat2_index  		= "/dat1/dat/ref/aws/others/ucsc_hg19/hg19_hisat/genome"
      lncpedia_gtf  		= "/dat1/dat/ref/aws/others/ucsc_hg19/lncipedia_5_2_hc_hg19.addQuotes.gtf"
	  bowtie1_index 		= "/dat1/dat/ref/aws/references/Homo_sapiens/UCSC/hg19/Sequence/BowtieIndex/genome"
	  bowtie2_index 		= "/dat1/dat/ref/aws/references/Homo_sapiens/UCSC/hg19/Sequence/Bowtie2Index/genome"
	  bwa_index				= "/dat1/dat/ref/aws/references/Homo_sapiens/UCSC/hg19/Sequence/BWAIndex/genome.fa"
      star    				= "/dat1/dat/ref/aws/references/Homo_sapiens/UCSC/hg19/Sequence/STARIndex"
	  ref    				= "/dat1/dat/ref/aws/others/ucsc_hg19/hg19_ref.txt"
	  ref_gtf 				= "/dat1/dat/ref/aws/others/ucsc_hg19/hg19_ref.gtf"
	  
	  // star 2.6
	  //star_index 			= "/dat1/dat/ref/aws/references/Homo_sapiens/UCSC/hg19/Sequence/STARIndex"
	  // star    			= "/dat1/dat/ref/aws/references/Homo_sapiens/UCSC/hg19/Sequence/STARIndex"
	  
	  // star 2.7
	  star_index    		= "/dat1/dat/ref/hg19/ucsc_hg19/starIndex.2.7.3a"
	  repeat_gtf        	= "/dat1/dat/ref/aws/others/ucsc_hg19/ucsc_repeats.RepeatMasker.gtf"
	  salmon_index 			= "/dat1/dat/ref/aws/others/ucsc_hg19/salmon_index/hg19_gencode_transcripts"
	  
	  blacklisted   		= "/dat1/apps/arriba_v1.1.0/database/blacklist_hg19_hs37d5_GRCh37_2018-11-04.tsv.gz"
	  cytobands 			= "/dat1/apps/arriba_v1.1.0/database/cytobands_hg19_hs37d5_GRCh37_2018-02-23.tsv"
	  proteinDomains 		= "/dat1/apps/arriba_v1.1.0/database/protein_domains_hg19_hs37d5_GRCh37_2018-03-06.gff3"
	  ctat_dir 				= "/dat1/dat/ref/hg19/star-fusion/GRCh37_gencode_v19_CTAT_lib_Oct012019.plug-n-play/ctat_genome_lib_build_dir"
	  
	  salmon_index_3UTR		= "/home/dat/ref/hg19/ucsc_hg19/apa_3UTR/3utr"
	  replace_SalmonIndex_ID = "/home/dat/ref/hg19/ucsc_hg19/apa_3UTR/fa_id_relate.txt"
	  //db_identifiers		= "/home/dat/ref/human/ensembl-89-GRC38c.txt"
	  db_identifiers		= "/dat1/dat/ref/hg19/ucsc_hg19/gencode.v27lift37.identifies.txt"
	  snp = "/dsk2/who/zhuhm2/dbSNP_RADAR_mutation/dbSNP/GRCh37p13/dbSNP_human_9606_sort.bed"
	  
	}
	

	'hg19_1' {
		  bed12  	 	= "/public/home/nong/aws/references/Homo_sapiens/UCSC/hg19/Annotation/Genes/genes.bed"
		  fasta   		= "/public/home/nong/aws/references/Homo_sapiens/UCSC/hg19/Sequence/WholeGenomeFasta/genome.fa"
		  gtf     		= "/public/home/nong/aws/references/Homo_sapiens/UCSC/hg19/Annotation/Genes/genes.gtf"
		  bwa_index		= "/public/home/nong/aws/references/Homo_sapiens/UCSC/hg19/Sequence/BWAIndex/genome.fa"
		  ref    		= "/public/home/nong/aws/others/ucsc_hg19/hg19_ref.txt"
		  ref_gtf 		= "/public/home/nong/aws/others/ucsc_hg19/hg19_ref.gtf"
		  star_index 	= "/public/home/nong/aws/references/Homo_sapiens/UCSC/hg19/Sequence/STARIndex"
		  repeat_gtf        = "/public2/nong/source/genomeGTF/human/ucsc/fasta/ucsc_repeats.RepeatMasker.gtf"
		}
	
     
	'hg19_76' {
      bed12  	 	= "/home/nong/161_nong/ref/genes.bed"
      fasta   		= "/public0/source/genomeGTF/human/ucsc/fasta/hg19.fa"
      gtf     		= "/home/nong/161_nong/ref/genes.gtf"
	  bwa_index		= "/public0/source/genomeGTF/human/ucsc/fasta/bwa_index/hg19"
      star    		= "/public0/source/genomeGTF/human/ucsc/fasta/starIndex/"
	  ref    		= "/public0/source/genomeGTF/human/ucsc/fasta/hg19_ref.txt"
	  ref_gtf 		= "/public0/source/genomeGTF/human/ucsc/fasta/hg19_ref.gtf"
	  star_index 	= "/public0/source/genomeGTF/human/ucsc/fasta/starIndex/"
	  repeat_gtf        = "/home/nong/161_nong/ref/ucsc_repeats.RepeatMasker.gtf"
	}
	
    'hg19_gencode' {
      fasta   		= "/public/home/nong/aws/references/Homo_sapiens/UCSC/hg19/Sequence/WholeGenomeFasta/genome.fa"
      gtf     		= "/public/home/nong/aws/others/ucsc_hg19/gencode.v27lift37.annotation.gtf"
	  salmon_index  = "/public/home/nong/aws/others/ucsc_hg19/salmon_index/hg19_gencode_transcripts_gffread"
	}
    

    
	'mm10' {
      fasta   				= "/public/home/guohh/reference_genome/mm10_UCSC/Sequence/WholeGenomeFasta/genome.fa"
      gtf     				= "/public/home/guohh/reference_genome/mm10_UCSC/Annotation/Genes/genes.gtf"
	  genecode_gtf  		= "/public/home/guohh/reference_genome/mm10_UCSC/gencode.vM18.annotation.gtf"
	  genecode_lncRNA_gtf	= "/public/home/guohh/reference_genome/mm10_UCSC/gencode.vM18.long_noncoding_RNAs.gtf"
	  hisat2_index  		= "/public/home/guohh/reference_genome/mm10_UCSC/hisat2_index/genome"
      lncpedia_gtf  		    = "/public/home/guohh/reference_genome/mm10_UCSC/NONCODEv5_mouse_mm10_lncRNA.gtf"
	}	  
	
    'mm10_2' {
      fasta   				= "/public/home/guohh/reference_genome/mm10_UCSC/Sequence/WholeGenomeFasta/genome.fa"
      bed12  	 			= "/public/home/nong/aws/references/Mus_musculus/UCSC/mm10/Annotation/Genes/genes.bed"
	  gtf     				= "/public/home/guohh/reference_genome/mm10_UCSC/Annotation/Genes/genes.gtf"
	  genecode_gtf  		= "/public/home/guohh/reference_genome/mm10_UCSC/gencode.vM18.annotation.gtf"
	  bwa_index		        = "/public/home/nong/aws/references/Mus_musculus/UCSC/mm10/Sequence/BWAIndex/genome.fa"
	  star_index 	        = "/public/home/nong/aws/references/Mus_musculus/UCSC/mm10/Sequence/STARIndex"
	  genecode_lncRNA_gtf	= "/public/home/guohh/reference_genome/mm10_UCSC/gencode.vM18.long_noncoding_RNAs.gtf"
	  ref    		        = "/public/home/nong/aws/others/mm10/mm10_ref.txt"
	  repeat_gtf                = "/public/home/nong/aws/others/mm10/ucsc_repeats.RepeatMasker.gtf"
	  hisat2_index  		= "/public/home/guohh/reference_genome/mm10_UCSC/hisat2_index/genome"
      lncpedia_gtf  	    = "/public/home/guohh/reference_genome/mm10_UCSC/NONCODEv5_mouse_mm10_lncRNA.gtf"
	}

	"hg38_124" {
	  species 				= "human"
	  genome_build			= "hg38"
      fasta   				= "/dat1/dat/ref/hg38/hg38.fa"
      fasta_fai				= "/dat1/dat/ref/hg38/hg38.fa.fai"
	  gtf     				= "/dat1/dat/ref/hg38/hg38+gencode.v32/gencode.v32.gtf"
	  ref					= "/dat1/dat/ref/hg38/hg38_ref.txt"
	  genecode_gtf  		= "/dat1/dat/ref/hg38/hg38+gencode.v32/gencode.v32.gtf"
      genecode_lncRNA_gtf	= "/dat1/dat/ref/hg38/hg38+gencode.v32/gencode.v32.long_noncoding_RNAs.gtf"
	  salmon_index 			= "/dat1/dat/ref/hg38/hg38+gencode.v32/salmon_index"
	  
	  hisat2_index  		= "/dat1/dat/ref/hg38/hg38+gencode.v32/hisat2_index/hg38"
	  lncpedia_gtf  		= "/dat1/dat/ref/hg38/lncRNAGTF/lncipedia_5_2_hg38.addquotes.gtf"
	  species 				= "human"
	  star_index 	        = "/dat1/dat/ref/hg38/hg38+gencode.v32/STAR2.7.3a_Index_hg38_gencodeV32"
	  bwa_index		        = "/dat1/dat/ref/hg38/hg38+gencode.v32/bwa_index/hg38"
	  repeat_gtf            = "/dat1/dat/ref/hg38/repeat/hg38_ucsc.repeat.gtf"
	  
	  retro_gtf             = "/dat1/dat/ref/hg38/telescope_HERV_rmsk.hg38.v2/transcripts.gtf"
	  bowtie1_index			= "/dat1/dat/ref/hg38/hg38+gencode.v32/bowtie1_index/bowtie1_base"
	  bowtie2_index			= "/dat1/dat/ref/hg38/hg38+gencode.v32/bowtie2_index/bowtie2_base"
	  
	  sprint_index 			= "/home/dat/ref/hg38/hg38+gencode.v32/sprint_index/hg38.fa"
	  sprint_repeat 		= "/home/dat/ref/hg38/sprint_hg38_repeat.txt"
	  
	  blacklisted   		= "/dat1/apps/arriba_v1.1.0/database/blacklist_hg38_GRCh38_2018-11-04.tsv.gz"
	  cytobands 			= "/dat1/apps/arriba_v1.1.0/database/cytobands_hg38_GRCh38_2018-02-23.tsv"
	  proteinDomains 		= "/dat1/apps/arriba_v1.1.0/database/protein_domains_hg38_GRCh38_2018-03-06.gff3"
	  ctat_dir 				= "/dat1/dat/ref/hg38/star-fusion/GRCh38_gencode_v32_CTAT_lib_Dec062019.plug-n-play/ctat_genome_lib_build_dir"
	  
	  salmon_index_3UTR		= "/dat1/dat/ref/hg38/apa_3UTR/gencode_v31/3utr"
	  replace_SalmonIndex_ID = "/dat1/dat/ref/hg38/apa_3UTR/gencode_v31/fa_id_relate.txt"	  
	  utr_gtf = genecode_gtf
	  apa3utr				= "/dat1/dat/ref/hg38/apa_3UTR/gencode_v31/qapa_3utrs.gencode_V31.hg38.bed"
	  annovar_data_dir		= "/dat1/apps/annovar/humandb"
	}
	  
    hg38_sars_cov_2 {
	  fasta   	= "/dat1/dat/ref/hg38/sars-cov-2/combine_genome/hg38_sars-cov-2.fasta"
	  gtf     	= "/dat1/dat/ref/hg38/sars-cov-2/combine_genome/hg38_sars-cov-2.gtf"
	  star_index 	= "/dat1/dat/ref/hg38/sars-cov-2/starIndex_hg38_sars-cov-2"
	  
	  blacklisted   		= "/dat1/apps/arriba_v1.1.0/database/blacklist_hg38_GRCh38_2018-11-04.tsv.gz"
	  cytobands 			= "/dat1/apps/arriba_v1.1.0/database/cytobands_hg38_GRCh38_2018-02-23.tsv"
	  proteinDomains 		= "/dat1/apps/arriba_v1.1.0/database/protein_domains_hg38_GRCh38_2018-03-06.gff3"

	  
	}
  
  }

}