/*
vim: syntax=groovy
-*- mode: groovy;-*-
 * -------------------------------------------------
 *  Nextflow config file for use with Singularity
 * -------------------------------------------------
 */



singularity {
  enabled = true
  autoMounts =true
}


params {
	annovar_BinDir  = "/opt/annovar/"
  cpatpath = "/opt/CPAT-1.2.4/"
  CPPred   = "/opt/CPPred/"

  container = "/home/nbt2/docker/singularity/tmp/nongbaoting_pipeone_conda-2020-09-06-edc4a184eaef.simg"
}


process{
	container = params.container
}